<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title>Drawer example</title>
</head>
<body>
  <div id="root" />
</body>
</html>
